<?xml version="1.0"?>
<robot
  name="hexapod">
  <link
    name="body">
    <inertial>
      <origin
        xyz="-0.000964757398601047 -0.000474507891316197 0.0250917541538913"
        rpy="0 0 0" />
      <mass
        value="0.837264376559784" />
      <inertia
        ixx="0.000684705045228122"
        ixy="2.41203148829684E-06"
        ixz="1.37182293143103E-06"
        iyy="0.000373213482608926"
        iyz="2.86965126573547E-08"
        izz="0.000953816417305708" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.984 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/body_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link
    name="c1">
    <inertial>
      <origin
        xyz="0.00013691 -0.0055867 0.03976"
        rpy="0 0 0" />
      <mass
        value="0.060858" />
      <inertia
        ixx="3.2009E-05"
        ixy="-5.5108E-08"
        ixz="1.3355E-08"
        iyy="3.647E-05"
        iyz="-3.6867E-06"
        izz="2.5652E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/c1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.3 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/c1_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="c1"
    type="revolute">
    <origin
      xyz="0.11804 -0.068148 -0.0036"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="c1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="2.0944"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="f1">
    <inertial>
      <origin
        xyz="-0.039988 7.741E-05 -0.01669"
        rpy="0 0 0" />
      <mass
        value="0.11714" />
      <inertia
        ixx="1.3116E-05"
        ixy="2.371E-08"
        ixz="3.7548E-10"
        iyy="2.465E-05"
        iyz="-2.0838E-09"
        izz="2.7051E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/f1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0.58 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/f1_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="f1"
    type="revolute">
    <origin
      xyz="0.0169 0 0.0679"
      rpy="0 1.5708 0" />
    <parent
      link="c1" />
    <child
      link="f1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.7853"
      upper="1.5708"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="t1">
    <inertial>
      <origin
        xyz="0.033566 0.041626 -0.022609"
        rpy="0 0 0" />
      <mass
        value="0.11714" />
      <inertia
        ixx="5.057E-05"
        ixy="-4.8612E-05"
        ixz="8.9984E-08"
        iyy="0.00026925"
        iyz="2.3327E-08"
        izz="0.0003066" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/t1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0.9 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/t1_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="t1"
    type="revolute">
    <origin
      xyz="-0.08 0 -0.0395"
      rpy="3.1416 0 0" />
    <parent
      link="f1" />
    <child
      link="t1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="2.0944"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="e1">
    <visual>
      <origin
        xyz="0.170 0.0435 -0.0225"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.006"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.3 0.3 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.170 0.0435 -0.0225"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.006"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.3 0.3 1" />
      </material>
    </collision>
  </link>
  <joint
    name="e1"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="t1" />
    <child
      link="e1" />
  </joint>
  <link
    name="c2">
    <inertial>
      <origin
        xyz="-0.0047697 -0.0029119 0.03976"
        rpy="0 0 0" />
      <mass
        value="0.060858" />
      <inertia
        ixx="3.5307E-05"
        ixy="1.9593E-06"
        ixz="-3.1861E-06"
        iyy="3.3172E-05"
        iyz="-1.8549E-06"
        izz="2.5652E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/c2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.3 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/c2_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="c2"
    type="revolute">
    <origin
      xyz="0 -0.1363 -0.0036"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="c2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="2.0944"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="f2">
    <inertial>
      <origin
        xyz="7.741E-05 0.039988 -0.01669"
        rpy="0 0 0" />
      <mass
        value="0.11714" />
      <inertia
        ixx="2.465E-05"
        ixy="-2.371E-08"
        ixz="-2.0842E-09"
        iyy="1.3116E-05"
        iyz="-3.7547E-10"
        izz="2.7051E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/f2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0.58 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/f2_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="f2"
    type="revolute">
    <origin
      xyz="0.00845 -0.014636 0.0679"
      rpy="1.5708 0 0.5236" />
    <parent
      link="c2" />
    <child
      link="f2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.7853"
      upper="1.5708"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="t2">
    <inertial>
      <origin
        xyz="-0.041626 0.033566 -0.022609"
        rpy="0 0 0" />
      <mass
        value="0.11714" />
      <inertia
        ixx="0.00026925"
        ixy="4.8613E-05"
        ixz="-2.326E-08"
        iyy="5.057E-05"
        iyz="8.9817E-08"
        izz="0.0003066" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/t2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0.9 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/t2_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="t2"
    type="revolute">
    <origin
      xyz="0 0.08 -0.0395"
      rpy="-3.1416 0 0" />
    <parent
      link="f2" />
    <child
      link="t2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="2.0944"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="e2">
    <visual>
      <origin
        xyz="-0.0435 0.170  -0.0225"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.006"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.3 0.3 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.0435 0.170  -0.0225"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.006"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.5 0.5 1" />
      </material>
    </collision>
  </link>
  <joint
    name="e2"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="t2" />
    <child
      link="e2" />
  </joint>
  <link
    name="c3">
    <inertial>
      <origin
        xyz="-0.0049067 0.0026748 0.03976"
        rpy="0 0 0" />
      <mass
        value="0.060858" />
      <inertia
        ixx="3.5402E-05"
        ixy="-1.9042E-06"
        ixz="-3.1995E-06"
        iyy="3.3076E-05"
        iyz="1.8318E-06"
        izz="2.5652E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/c3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.3 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/c3_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="c3"
    type="revolute">
    <origin
      xyz="-0.11804 -0.068148 -0.0036"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="c3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="2.0944"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="f3">
    <inertial>
      <origin
        xyz="7.7409E-05 0.039988 -0.01669"
        rpy="0 0 0" />
      <mass
        value="0.11714" />
      <inertia
        ixx="2.465E-05"
        ixy="-2.371E-08"
        ixz="-2.084E-09"
        iyy="1.3116E-05"
        iyz="-3.7547E-10"
        izz="2.7051E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/f3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0.58 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/f3_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="f3"
    type="revolute">
    <origin
      xyz="-0.00845 -0.014636 0.0679"
      rpy="1.5708 0 -0.5236" />
    <parent
      link="c3" />
    <child
      link="f3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.7853"
      upper="1.5708"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="t3">
    <inertial>
      <origin
        xyz="-0.041626 0.033566 -0.022609"
        rpy="0 0 0" />
      <mass
        value="0.11714" />
      <inertia
        ixx="0.00026925"
        ixy="4.8613E-05"
        ixz="-2.3256E-08"
        iyy="5.057E-05"
        iyz="8.9815E-08"
        izz="0.0003066" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/t3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0.9 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/t3_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="t3"
    type="revolute">
    <origin
      xyz="0 0.08 -0.0395"
      rpy="-3.1416 0 0" />
    <parent
      link="f3" />
    <child
      link="t3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="2.0944"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="e3">
    <visual>
      <origin
        xyz="-0.0435 0.170  -0.0225"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.006"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.3 0.3 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.0435 0.170  -0.0225"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.006"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.5 0.5 1" />
      </material>
    </collision>
  </link>
  <joint
    name="e3"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="t3" />
    <child
      link="e3" />
  </joint>
  <link
    name="c4">
    <inertial>
      <origin
        xyz="-0.00013691 0.0055867 0.03976"
        rpy="0 0 0" />
      <mass
        value="0.060858" />
      <inertia
        ixx="3.2009E-05"
        ixy="-5.5108E-08"
        ixz="-1.3355E-08"
        iyy="3.647E-05"
        iyz="3.6867E-06"
        izz="2.5652E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/c4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.3 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/c4_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="c4"
    type="revolute">
    <origin
      xyz="-0.11804 0.068148 -0.0036"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="c4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="2.0944"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="f4">
    <inertial>
      <origin
        xyz="0.039988 -7.741E-05 -0.01669"
        rpy="0 0 0" />
      <mass
        value="0.11714" />
      <inertia
        ixx="1.3116E-05"
        ixy="2.371E-08"
        ixz="-3.7548E-10"
        iyy="2.465E-05"
        iyz="2.0838E-09"
        izz="2.7051E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/f4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0.58 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/f4_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="f4"
    type="revolute">
    <origin
      xyz="-0.0169 0 0.0679"
      rpy="0 -1.5708 0" />
    <parent
      link="c4" />
    <child
      link="f4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.7853"
      upper="1.5708"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="t4">
    <inertial>
      <origin
        xyz="0.033566 0.041626 -0.022609"
        rpy="0 0 0" />
      <mass
        value="0.11714" />
      <inertia
        ixx="5.057E-05"
        ixy="-4.8612E-05"
        ixz="8.9984E-08"
        iyy="0.00026925"
        iyz="2.3327E-08"
        izz="0.0003066" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/t4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0.9 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/t4_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="t4"
    type="revolute">
    <origin
      xyz="0.08 0 -0.0395"
      rpy="3.1416 0 -3.1416" />
    <parent
      link="f4" />
    <child
      link="t4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="2.0944"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="e4">
    <visual>
      <origin
        xyz="0.170 0.0435 -0.0225"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.006"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.3 0.3 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.170 0.0435 -0.0225"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.006"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.5 0.5 1" />
      </material>
    </collision>
  </link>
  <joint
    name="e4"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="t4" />
    <child
      link="e4" />
  </joint>
  <link
    name="c5">
    <inertial>
      <origin
        xyz="0.0047697 0.0029119 0.03976"
        rpy="0 0 0" />
      <mass
        value="0.060858" />
      <inertia
        ixx="3.5307E-05"
        ixy="1.9593E-06"
        ixz="3.1861E-06"
        iyy="3.3172E-05"
        iyz="1.8549E-06"
        izz="2.5652E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/c5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.3 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/c5_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="c5"
    type="revolute">
    <origin
      xyz="0 0.1363 -0.0036"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="c5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="2.0944"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="f5">
    <inertial>
      <origin
        xyz="-7.741E-05 -0.039988 -0.01669"
        rpy="0 0 0" />
      <mass
        value="0.11714" />
      <inertia
        ixx="2.465E-05"
        ixy="-2.371E-08"
        ixz="2.0842E-09"
        iyy="1.3116E-05"
        iyz="3.7547E-10"
        izz="2.7051E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/f5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0.58 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/f5_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="f5"
    type="revolute">
    <origin
      xyz="-0.00845 0.014636 0.0679"
      rpy="-1.5708 0 0.5236" />
    <parent
      link="c5" />
    <child
      link="f5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.7853"
      upper="1.5708"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="t5">
    <inertial>
      <origin
        xyz="0.041626 -0.033566 -0.022609"
        rpy="0 0 0" />
      <mass
        value="0.11714" />
      <inertia
        ixx="0.00026925"
        ixy="4.8613E-05"
        ixz="2.326E-08"
        iyy="5.057E-05"
        iyz="-8.9817E-08"
        izz="0.0003066" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/t5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0.9 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/t5_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="t5"
    type="revolute">
    <origin
      xyz="0 -0.08 -0.0395"
      rpy="3.1416 0 0" />
    <parent
      link="f5" />
    <child
      link="t5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="2.0944"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="e5">
    <visual>
      <origin
        xyz="0.0435 -0.170  -0.0225"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.006"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.3 0.3 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0435 -0.170  -0.0225"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.006"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.5 0.5 1" />
      </material>
    </collision>
  </link>
  <joint
    name="e5"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="t5" />
    <child
      link="e5" />
  </joint>
  <link
    name="c6">
    <inertial>
      <origin
        xyz="-0.00096476 -0.00047451 0.025092"
        rpy="0 0 0" />
      <mass
        value="0.060858" />
      <inertia
        ixx="3.5402E-05"
        ixy="-1.9042E-06"
        ixz="3.1995E-06"
        iyy="3.3076E-05"
        iyz="-1.8318E-06"
        izz="2.5652E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/c6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.3 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/c6_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="c6"
    type="revolute">
    <origin
      xyz="0.11804 0.068148 -0.0036"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="c6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="2.0944"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="f6">
    <inertial>
      <origin
        xyz="-7.7409E-05 -0.039988 -0.01669"
        rpy="0 0 0" />
      <mass
        value="0.11714" />
      <inertia
        ixx="2.465E-05"
        ixy="-2.371E-08"
        ixz="2.084E-09"
        iyy="1.3116E-05"
        iyz="3.7547E-10"
        izz="2.7051E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/f6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0.58 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/f6_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="f6"
    type="revolute">
    <origin
      xyz="0.00845 0.014636 0.0679"
      rpy="-1.5708 0 -0.5236" />
    <parent
      link="c6" />
    <child
      link="f6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.7853"
      upper="1.5708"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="t6">
    <inertial>
      <origin
        xyz="0.041626 -0.033566 -0.022609"
        rpy="0 0 0" />
      <mass
        value="0.11714" />
      <inertia
        ixx="0.00026925"
        ixy="4.8613E-05"
        ixz="2.3256E-08"
        iyy="5.057E-05"
        iyz="-8.9815E-08"
        izz="0.0003066" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/t6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0.9 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/t6_scad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="t6"
    type="revolute">
    <origin
      xyz="0 -0.08 -0.0395"
      rpy="3.1416 0 0" />
    <parent
      link="f6" />
    <child
      link="t6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="2.0944"
      effort="2.9419"
      velocity="4.71" />
  </joint>
  <link
    name="e6">
    <visual>
      <origin
        xyz="0.0435 -0.170  -0.0225"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.006"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.3 0.3 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0435 -0.170  -0.0225"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.006"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.5 0.5 1" />
      </material>
    </collision>
  </link>
  <joint
    name="e6"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="t6" />
    <child
      link="e6" />
  </joint>
</robot>
